.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navigation{
  border-bottom: 2px solid hsl(334, 85%, 30%);
}
.navLinks a {
  padding: 0em 1em;
}

.nav-link.active {
  color: hsl(44, 100%, 61%) !important;
}
.nav-link{
  color: hsl(334, 85%, 30%) !important;
}
.card{
  width: 100%;
}
.card:hover{
border: 5px solid hsl(44, 100%, 61%);
border-radius: 2%;
transition: border ease 5s;
}
.cardContainer{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: auto;
  padding: 1em 1em 0;
  grid-column-gap: 20px;
}
.cardContainer a{
  color: black;
  text-decoration: none;
}
.card-img-top{
  width: 20em;
  margin: auto;
  height: 21em;
}
.card-footer{
  margin-bottom: 0;
}
.centered{
  text-align: center;
}
.blogText{
  line-height: 200%;
}
.blogContainer{
  padding: 1em 2em;
}
.fixed-bottom{
  position: unset;
}
.lead{
  float: left;
  width: 11em;
  margin-right: 1em;
}
.wa1-gif{
  float: right;
  margin-left: 1em;
}