.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navLinks a {
  padding: 0em 1em;
}

.nav-link.active {
  color: hsl(44, 100%, 61%) !important;
}
.nav-link{
  color: hsl(334, 85%, 30%) !important;
}